NODE_ENV=development

CRYPTO_MODULE_DATABASE_URL_LIVE=postgres://payercoins:payercoins@localhost:5432/payercoins_crypto_module_dev_live
CRYPTO_MODULE_DATABASE_URL_SANDBOX=postgres://payercoins:payercoins@localhost:5433/payercoins_crypto_module_dev_sandbox

SANBOX_PAYMENT_LINK_URL=/sandbox/payment/
LIVE_PAYMENT_LINK_URL=/live/payment/

SANBOX_API_PAYMENT_URL=/sandbox/payment/
LIVE_API_PAYMENT_URL=/live/payment/

LIVE_PAYMENT_PAGE_URL=/live/page/
SANBOX_PAYMENT_PAGE_URL=/sandbox/page/

# sandbox keys

TRESHOLD_SANDBOX_URL=https://demo.THRESH0LD.com

# cold wallets
TRESHOLD_ETH_COLD_WALLET_ID=719643
TRESHOLD_ETH_COLD_WALLET_KEY=3UKDxfnPuqUje3GJT
TRESHOLD_ETH_COLD_WALLET_SECRET=1JFSptThMmkT6dGcFQJjMbN6zvV

TRESHOLD_BTC_COLD_WALLET_ID=250947
TRESHOLD_BTC_COLD_WALLET_KEY=4dLJPcAag1p7DoUKP
TRESHOLD_BTC_COLD_WALLET_SECRET=2AMqkMxiHT3vrWnPdb3MRbvExmt4

TRESHOLD_USDT_ETH_COLD_WALLET_ID=636944
TRESHOLD_USDT_ETH_COLD_WALLET_KEY=2ko1NVBuo3Cb8DxpA
TRESHOLD_USDT_ETH_COLD_WALLET_SECRET=q9WQrA2T2h9t15gvPAun5DzLQs3

# hot wallets
TRESHOLD_LIVE_ETH_HOT_WALLET_PREFIX=477936_
TRESHOLD_LIVE_ETH_HOT_WALLET_ID=812818
TRESHOLD_LIVE_ETH_HOT_WALLET_KEY=5nsAPnHsM5HhxDjUE
TRESHOLD_LIVE_ETH_HOT_WALLET_SECRET=2A41rz4fxEhZ4XsosasC75kVPk2w

# live keys

TRESHOLD_LIVE_URL=https://demo.THRESH0LD.com

# cold wallets
TRESHOLD_LIVE_BTC_COLD_WALLET_ID=250947
TRESHOLD_LIVE_BTC_COLD_WALLET_KEY=4dLJPcAag1p7DoUKP
TRESHOLD_LIVE_BTC_COLD_WALLET_SECRET=2AMqkMxiHT3vrWnPdb3MRbvExmt4

TRESHOLD_LIVE_USDT_ETH_COLD_WALLET_ID=636944
TRESHOLD_LIVE_USDT_ETH_COLD_WALLET_KEY=2ko1NVBuo3Cb8DxpA
TRESHOLD_LIVE_USDT_ETH_COLD_WALLET_SECRET=q9WQrA2T2h9t15gvPAun5DzLQs3

TRESHOLD_LIVE_ETH_COLD_WALLET_ID=719643
TRESHOLD_LIVE_ETH_COLD_WALLET_KEY=3UKDxfnPuqUje3GJT
TRESHOLD_LIVE_ETH_COLD_WALLET_SECRET=1JFSptThMmkT6dGcFQJjMbN6zvV

# hot wallets
TRESHOLD_LIVE_ETH_HOT_WALLET_PREFIX=477936_
TRESHOLD_LIVE_ETH_HOT_WALLET_ID=812818
TRESHOLD_LIVE_ETH_HOT_WALLET_KEY=5nsAPnHsM5HhxDjUE
TRESHOLD_LIVE_ETH_HOT_WALLET_SECRET=2A41rz4fxEhZ4XsosasC75kVPk2w

COINMARKETCAP_URL=https://pro-api.coinmarketcap.com
COINMARKETCAP_API_KEY=9f4feb62-f989-404d-83b5-dec9568c5848

PUSHER_APP_ID=943050
PUSHER_APP_KEY=0d4de37d8b320c4989b0
PUSHER_APP_SECRET=7c91fc4f927d297023f8
PUSHER_APP_CLUSTER=us2

# Redis Enterprise connection values
PAYERCOINS_REDIS_DB_PASSWORD=
PAYERCOINS_REDIS_HOST=
PAYERCOINS_REDIS_PORT=

ETH_GAS_LIMIT=
BTC_BYTE_PER_TRANSACTION=
